<h1>Liste des annonces</h1>
<a href="{{ path('ort_iot_homepage') }}">ICI</a>
<body>
<ul>
    {% for iot in listIots %}
    <li>
        id : {{ iot.id}}
    </li>
        <li>
        {{ iot.nom }}
        </li>
        <li>
        {{ iot.IpLocale}}
        </li>
        <li>
        {{ iot.actif}}
        </li>
        <li>
            ------------------
        </li>
    {% else %}
        <li>
            Pas (encore ! ) d'iot
        </li>
    {% endfor %}
</ul>
</body>